<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>hello-world</servlet-name>
        <servlet-class>com.evatlsong.archetype.HelloWorld</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello-world</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!--   <error-page>
        <error-code>404</error-code>
        <location>/views/public/errors/404.jsp</location>
      </error-page>

      <error-page>
        <error-code>500</error-code>
        <location>/views/public/errors/500.jsp</location>
      </error-page>
     -->
    <display-name>archetype-maven-webapp</display-name>
    <distributable/>
</web-app>
